#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,2,1,0
 PRODUCTVERSION 1,2,1,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080404B0"
    BEGIN
      VALUE "CompanyName", "HDA Mocker"
      VALUE "FileDescription", "HDA Mocker 4 Windows GUI"
      VALUE "FileVersion", "1.2.1.0"
      VALUE "InternalName", "hda_mocker_4"
      VALUE "OriginalFilename", "hda_mocker_4_v1.2.1.exe"
      VALUE "ProductName", "HDA Mocker 4"
      VALUE "ProductVersion", "1.2.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0804, 1200
  END
END
